/* ClientMenu.css */
.root {
    -fx-font-family: 'Arial';
    -fx-background-color: #E6E6FA; /* Lavender background color */
}

.hbox {
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-background-color: #F0F0F0;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-padding: 8px 16px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-transition: all 0.3s ease;
}

.button:hover {
    -fx-background-color: linear-gradient(#FFB3BA, #FFDFBA); /* Pastel pink on hover */
    -fx-border-color: black; /* Black border on hover */
    -fx-border-width: 2px;
}

.text-field {
    -fx-padding: 8px;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.combo-box {
    -fx-padding: 8px;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.scroll-pane {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.grid-pane {
    -fx-padding: 20px;
    -fx-background-color: #FFFFFF;
}

.vbox {
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-background-color: #FFFFFF; /* Same color as grid-pane */
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.label {
    -fx-text-fill: #333333;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 2, 0.5, 0, 0);
}

.image-view {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.5, 0, 0);
}

.text {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-fill: #333333;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 2, 0.5, 0, 0);
}